@using HAC.Domain
@model List<HAC.Domain.Announcement>
@{
    ViewBag.Title = "Announcements";
}

<script>


    function showAnnounceFormInDialog(url, options) {
        if ($("#announce").length == 0) {
            $('body').addClass('wait');
            options = options || {};
            var tag = $("<div id='announce'></div>"); //This tag will the hold the dialog content.

            $.ajax({
                url: url,
                type: (options.type || 'GET'),
                beforeSend: options.beforeSend,
                error: options.error,
                complete: options.complete,
                success: function (data, textStatus, jqXHR) {
                    if (typeof data == "object" && data.html) { //response is assumed to be JSON
                        tag.html(data.html).dialog({ modal: options.modal, title: data.title }).dialog('open');
                    } else { //response is assumed to be HTML
                        tag.html(data).dialog({
                            close: function (ev, ui) {
                                //$(this).remove();
                                // $("#announce").remove();
                                $(".redactor_dropdown").remove();
                                $(this).remove();

                            },

                            open: function (ev, ui) {
                                $('#ExpiryDateForEdit').datepicker({ dateFormat: "yy-mm-dd", minDate: new Date() });
                                $('#Description').redactor({ autoresize: false });


                            },
                            buttons: {
                                "Save": function () {

                                    //var bValid = true;
                                    //allFields.removeClass("ui-state-error");

                                    //bValid = bValid && checkLength(title, "username", 3, 16);
                                    //bValid = bValid && checkLength(expiryDate, "email", 6, 80);



                                    $("#AnnouncementForm").submit();
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },

                            modal: options.modal,
                            title: options.title,
                            width: 700,
                            minWidth: 400,
                            minHeight: 400,
                            height: 500
                        }).dialog('open');
                    }
                    $.isFunction(options.success) && (options.success)(data, textStatus, jqXHR);
                }
            });

            $('body').removeClass('wait');
        }
    }
</script>


<script type="text/template" id="cardTemplate">
    <form id="dialog" style="display: none;">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
        <textarea id="Desc" rows="20" style="height: 276px;"></textarea>

    </form>
</script>


<div id="page2">
    <div id="content">
        <div class="indent">
            <div class="col-5">
                <!-- title-box1 begin -->
                <div class="title-box1">
                    <div class="left-top-corner1">
                        <div class="right-top-corner1">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="wrapper">
                                            @Html.ActionLink("Archive", "Archive", "Announcement", null, new { @Class = "link3 fright" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- title-box1 end -->
                <!-- box1 begin -->
                <div class="box1">
                    <div class="right-bot-corner">
                        <div class="left-bot-corner">
                            <div class="inner">

                                <div class="box2">
                                    <div class="inner1">
                                        <div class="wrapper">
                                            <a href="#" class="link1" onclick="showAnnounceFormInDialog('Announcement/Amend/0', {modal: false, title: 'Create Announcement', error: function() { alert('Could not load form') }}); return false;">Create new announcement</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- events block begin -->
                                @foreach (Announcement announcement in Model)
                                {
                                    <div class="box2" id="announcement@(announcement.ID)">
                                        <div class="left-top-corner">
                                            <div class="right-top-corner">
                                                <div class="border-top"></div>
                                            </div>
                                        </div>
                                        <div class="border-left">
                                            <div class="border-right">
                                                <div class="inner1">
                                                    <img class="img-indent" alt="" src="@Url.Content("~/Content/Images/announce_icon_white.gif")" />
                                                    <div class="extra-wrap">
                                                        <h5 class="alt1">@announcement.Title</h5>
                                                        <h6 class="alt1">Expires: @announcement.ExpiryDateForDisplay</h6>
                                                        @Html.Raw(announcement.Description)
                                                        <div class="postedby">
                                                            Posted by @announcement.UserName on @announcement.CreateDate.ToString("d") - Expires on @announcement.ExpiryDate.ToString("d")
                                                        </div>
                                                        <div class="wrapper"><a href="#"  onclick="showAnnounceFormInDialog('Announcement/Amend/@announcement.ID', {modal: false, title: 'Edit Announcement', error: function() { alert('Could not load form') }}); return false;" class="link1"><em><b>edit</b></em></a></div>

                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="left-bot-corner">
                                            <div class="right-bot-corner">
                                                <div class="border-bot"></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- events block end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
